body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
width: 100vw;
}

.main{
  max-width: 100%;
}

.sec1 {
  background-color: forestgreen;
  color: white;
  border-bottom: 4px solid whitesmoke;
  border-top: 4px solid whitesmoke;
}

.sec2 {
  background-color: steelblue;
  width: 100vw;
}

.container {
  min-width: 100%;
}

.row {
  text-align: center;
  justify-content: center;
  align-items: middle;
  box-sizing: border-box;
}